@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
* {
  font-family: Oswald, sans-serif !important;
}
h1 {
  font-weight: 700;
}

#location-input {
  width: 100%;
}

#no-weather {
  display: none;
  font-size: 3.75rem;
}
#no-weather-wrap {
  display: none;
}

#city {
  font-size: 4rem;
}
#weather-icon {
  width: 100%;
  height: auto;
}
#temperature {
  font-size: 4rem;
}
#weather-description {
  font-size: 4rem;
}
#wind-speed {
  overflow: hidden;
  white-space: nowrap;
}
